{% extends 'layout/app.html' %}
<script type="text/javascript" src="js/jquery.multi-select.js"></script>
{% block body %}
<div class="row">
    <table class="table table-bordered" id="item_table" style="width: 97%;margin-left: 2%;">
        <tr>
            <th style="text-align: center;">Family Name</th>
            <th style="text-align: center;">API</th>
            <th>
                <span class="fa fa-info-circle" aria-hidden="true"
                      data-toggle="tooltip" data-placement="top" title="Check the box to add API">
                </span>
            </th>
            <th style="text-align: center;">Is Default</th>
        </tr>
       <!-- {% for item in apis.predefined %}
        <tr>
            <td>{{ item.family }}</td>
            <td>{{ item.api }}</td>
            <td>
                <div class="form-check">
                    {% if item.selected %}
                    <input class="form-check-input" type="checkbox" value="" id= {{ item.apiId }} checked/>
                    {% else %}
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                    {% endif %}

                </div>
            </td>
            <td>{{ item.isDefault }}</td>
        </tr>
        {% endfor %}-->
    </table>

    <input class="form-control" type="hidden" name="tags_json_data" id="json_data" />
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="div-center">
                <form class="other-apis" >
                    <label for="otherApis">Select additional services:</label>
                    <select id="otherApis" name="otherApis" multiple>
                       <!-- {% for item in apis.otherApis %}
                        {% if item.selected %}
                        <option value = {{ item.apiId }} class="checked" >{{ item.api }}</option>
                        {% else %}
                        <option value = {{ item.apiId }} >{{ item.api }}</option>
                        {% endif %}

                        {% endfor %}-->
                    </select>
                    <input id="otherApisAddButton"  class="btn btn-primary btn-sm" type="button" value="Add" >
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block javascript %}
<script type="text/javascript">
    apis = {"predefined": [
         {
             "apiId": 100,
             "api": "API100",
             "family": "F1",
             "selected": true,
             "isDefault": false
         },
         {
             "apiId": 101,
             "api": "API101",
             "family": "F1",
             "selected": false,
             "isDefault": false
         },
         {
             "apiId": 102,
             "api": "API102",
             "family": "F1",
             "selected": true,
             "isDefault": false
         },
         {
             "apiId": 103,
             "api": "API103",
             "family": "F2",
             "selected": false,
             "isDefault": true
         },
         {
             "apiId": 104,
             "api": "API104",
             "family": "F2",
             "selected": false,
             "isDefault": true
         },
         {
             "apiId": 200,
             "api": "API200",
             "family": "Others",
             "selected": true,
             "isDefault": false
         },
         {
             "apiId": 202,
             "api": "API202",
             "family": "Others",
             "selected": true,
             "isDefault": false
         }

     ],
         "otherApis": [
             {
                 "apiId": 200,
                 "api": "API200",
                 "family": "",
                 "selected": true,
             },
             {
                 "apiId": 201,
                 "api": "API201",
                 "family": "",
                 "selected": false,
             },
             {
                 "apiId": 202,
                 "api": "API202",
                 "family": "",
                 "selected": true,
             },
             {
                 "apiId": 204,
                 "api": "API204",
                 "family": "",
                 "selected": false,
             },
             {
                 "apiId": 205,
                 "api": "API205",
                 "family": "",
                 "selected": false,
             },
             {
                 "apiId": 206,
                 "api": "API206",
                 "family": "",
                 "selected": false,
             },
             {
                 "apiId": 207,
                 "api": "API207",
                 "family": "",
                 "selected": false,
             }
         ]
     }

 $(function(){
    familiesSet = new Set();
    familiesMap = new Map();
    $.each(apis.predefined, function (i) {
        if(familiesSet.has(apis.predefined[i].family)){
            count = familiesMap.get(apis.predefined[i].family);
            familiesMap.set(apis.predefined[i].family, ++count);
        }else {
          familiesSet.add(apis.predefined[i].family);
          familiesMap.set(apis.predefined[i].family, 1);
        }
        family = familiesMap.get(apis.predefined[i].family) > 1 ? "" : apis.predefined[i].family;

        $("#item_table > tbody").append("<tr id=tr_"+apis.predefined[i].apiId+">");
        $("#item_table > tbody").append("<td>"+family+"</td>");
        $("#item_table > tbody").append("<td>"+apis.predefined[i].api+"</td>");
        if (apis.predefined[i].selected){
           $("#item_table > tbody").append("<td><div class='form-check'><input class='form-check-input' type='checkbox' id="+apis.predefined[i].apiId+" checked/></td>");
        } else {
            $("#item_table > tbody").append("<td><div class='form-check'><input class='form-check-input' type='checkbox' id="+apis.predefined[i].apiId+" /></td>");
        }
        $("#item_table > tbody").append("<td>"+apis.predefined[i].isDefault+"</td>");
        $("#item_table > tbody").append("</tr>");
    });
    //console.log(familiesMap);

    $.each(apis.otherApis, function (i) {
       checked = apis.otherApis[i].selected ? "checked" : "";
       $("#otherApis").append($("<option></option>")
                              .attr("value", apis.otherApis[i].apiId)
                              .attr("class", checked)
                              .text(apis.otherApis[i].api));
    });

     $('#otherApis').multiSelect();
 });

 $('#otherApisAddButton').click(function(){
    $("#otherApis > option").each(function() {
        if($(this).attr("class") == "checked" && $('#tr_'+this.value).length == 0) {
          //console.log($('#tr_'+($(this).val())));
          //console.log($(this).val());
          $("#item_table > tbody").append("<tr id=tr_"+$(this).val()+">");
          $("#item_table > tbody").append("<td></td>");
          $("#item_table > tbody").append("<td>"+$(this).text()+"</td>");
          $("#item_table > tbody").append("<td><div class='form-check'><input class='form-check-input' type='checkbox' id="+$(this).val()+" checked /></td>");
         $("#item_table > tbody").append("<td>false</td>");
          $("#item_table > tbody").append("</tr>");
        }
    });
 });

 $('#otherApis').prop('checked', true);
</script>
{% endblock %}
